<%- include ('header.ejs') %>
<!-- body -->
<%- include ('nav.ejs') %>

<div class="chitter">
  <p><%=user.username%></p>
  <h1><%=user.name%></h1>
</div>

<!-- end body -->
<%- include ('footer.ejs') %>
